---
import Layout from "../layouts/Layout.astro";

import heroImage from '/images/header.jpg';
import appStore from '/images/appstore.svg';
import playStore from '/images/playstore.png';

---

<Layout title="How to read Thai">
	<header class="container" id="welcome">
		<img width="2000" height="1000" src={heroImage} />
		<hgroup>
			<h1>Improve your Thai reading skills</h1>
			<p>Thai Reading can be confusing, especially for new learners, here is some advice on how to best practice
				your reading, and take it to the next level.</p>
		</hgroup>
	</header>
	<main class="container">
		<section>
			<h3> The Thai alphabet uses a different set of rules
				than English does</h3>
			<ul>
				<li>Capital letters are not used in the Thai language</li>
				<li>The alphabet has 44 consonants, some of which can be combined with other letters to form more
					complex
					sounds</li>
				<li>The vowels have accents over them to show how they should be pronounced.</li>
				<li>In Thai there are no spaces between words so it looks like one long string of letters when typed
					out.
				</li>
			</ul>

			<p>Thai is a tonal language—that means that the pitch of your voice can change the meaning of a word in
				Thai.
				For example, อยาก (yàak) means “want to” but ไม่อยาก (mái yàak) means “do not want to.”

				This makes reading Thai very difficult for people who aren't used to seeing this style of writing!</p>
			<p>To make
				it
				easier, we gathered some links and tools that can help you learn to read Thai in no time.</p>
			<h3>There is actually an app based on the Manee books</h3>
			<p>Easy Thai Read is an app for all ages. It is in fact a digital version of the Manee study books for
				childen.
				It has voice recordings from a native Thai speaker with english translations and its phonetics spelled
				out.
				At first some Thai words can be quite tricky to read, but once you get used to hearing them out at
				reading them at the same time it gets easier over time.
				There is a comprehensive set of lessons that will guide you to more and more difficult words, all the
				way to the end of a book. The lessons are suitable for all ages.</p>

			<a href="https://apps.apple.com/us/app/easy-thai-read/id1380147544?itsct=apps_box_badge&amp;itscg=30200"
				style="display: inline-block; overflow: hidden; border-radius: 13px; width: 250px; height: 83px;"><img
					src={appStore} alt="Download on the App Store"
					style="border-radius: 13px; width: 250px; height: 83px;"></a>
			<a style="display: inline-block; overflow: hidden; border-radius: 13px; width: 250px;"
				href='https://play.google.com/store/apps/details?id=com.anthood.bangkok2&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img
					alt='Get it on Google Play' src={playStore} /></a>

			<h3>Thai Dictionary</h3>

			<p><a href="http://www.thai-language.com/dict/">thai-language.com</a> is a simple, fast and easy
				dictionary
				to browse through all Thai words. You can also search by reverse
				Phonemic Transcription</p>
			<p>It has a dictionary of over 78940 Thai words and phrases with English definitions—and 21488 audio
				clips.
			</p>
		</section>
	</main>
</Layout>