---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="How to read Thai">
	<header class="container">
		<figure>
			<img width="2000" height="1000" src="https://source.unsplash.com/a562ZEFKW8I/2000x1000"
				alt="Minimal landscape">
			<figcaption>Image from <a href="https://unsplash.com">unsplash.com</a></figcaption>
		</figure>
		<hgroup>
			<h1>Getting started with Thai reading</h1>
			<p>A basic custom template for Pico using only CSS custom properties (variables) xxxx.</p>
		</hgroup>

	</header>
	<main class="container">
		<section>
			<h2>Getting started with Thai reading</h2>
			<p>Aliquam lobortis vitae nibh nec rhoncus. Morbi mattis neque eget efficitur feugiat. Vivamus porta nunc a
				erat mattis, mattis feugiat turpis pretium. Quisque sed tristique felis.</p>

			<!-- Blockquote-->
			<blockquote>
				"Maecenas vehicula metus tellus, vitae congue turpis hendrerit non. Nam at dui sit amet ipsum cursus
				ornare."
				<footer>
					<cite>- Phasellus eget lacinia</cite>
				</footer>
			</blockquote>

			<!-- Lists-->
			<h3>Lists</h3>
			<ul>
				<li>Aliquam lobortis lacus eu libero ornare facilisis.</li>
				<li>Nam et magna at libero scelerisque egestas.</li>
				<li>Suspendisse id nisl ut leo finibus vehicula quis eu ex.</li>
				<li>Proin ultricies turpis et volutpat vehicula.</li>
			</ul>

			<!-- Inline text elements-->
			<h3>Inline text elements</h3>
			<figure>
				<table>
					<tbody>
						<tr>
							<td><a href="#" onclick="event.preventDefault()">Link</a></td>
							<td><strong>Bold</strong></td>
							<td><em>Italic</em></td>
						</tr>
						<tr>
							<td><u>Underline</u></td>
							<td><del>Deleted</del></td>
							<td><ins>Inserted</ins></td>
						</tr>
						<tr>
							<td><s>Strikethrough</s></td>
							<td><small>Small </small></td>
							<td><abbr title="Abbreviation" data-tooltip="Abbreviation">Abbr.</abbr></td>
						</tr>
						<tr>
							<td>Text <sub>Sub</sub></td>
							<td>Text <sup>Sup</sup></td>
							<td><kbd>Kbd</kbd></td>
						</tr>
						<tr>
							<td><mark>Highlighted</mark></td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</figure>

			<!-- Headings-->
			<h3>Heading 3</h3>
			<p>Integer bibendum malesuada libero vel eleifend. Fusce iaculis turpis ipsum, at efficitur sem scelerisque
				vel. Aliquam auctor diam ut purus cursus fringilla. Class aptent taciti sociosqu ad litora torquent per
				conubia nostra, per inceptos himenaeos.</p>
			<h4>Heading 4</h4>
			<p>Cras fermentum velit vitae auctor aliquet. Nunc non congue urna, at blandit nibh. Donec ac fermentum
				felis. Vivamus tincidunt arcu ut lacus hendrerit, eget mattis dui finibus.</p>
			<h5>Heading 5</h5>
			<p>Donec nec egestas nulla. Sed varius placerat felis eu suscipit. Mauris maximus ante in consequat luctus.
				Morbi euismod sagittis efficitur. Aenean non eros orci. Vivamus ut diam sem.</p>
			<h6>Heading 6</h6>
			<p>Ut sed quam non mauris placerat consequat vitae id risus. Vestibulum tincidunt nulla ut tortor posuere,
				vitae malesuada tortor molestie. Sed nec interdum dolor. Vestibulum id auctor nisi, a efficitur sem.
				Aliquam sollicitudin efficitur turpis, sollicitudin hendrerit ligula semper id. Nunc risus felis,
				egestas eu tristique eget, convallis in velit.</p>



		</section>

		<ul role="list" class="link-card-grid">
			<Card href="https: //docs.astro.build/" title="Documentation"
				body="Learn how Astro works and explore the official API docs." />

		</ul>
		<!-- Button to trigger the modal -->
		<button class="contrast" data-target="modal-example" onclick="toggleModal(event)">
			Launch demo modal
		</button>

		<!-- Modal -->
		<dialog id="modal-example">
			<article>
				<a href="#close" aria-label="Close" class="close" data-target="modal-example"
					onclick="toggleModal(event)">
				</a>
				<h3>Confirm your action!</h3>
				<p>
					Cras sit amet maximus risus.
					Pellentesque sodales odio sit amet augue finibus pellentesque.
					Nullam finibus risus non semper euismod.
				</p>
				<footer>
					<a href="#cancel" role="button" class="secondary" data-target="modal-example"
						onclick="toggleModal(event)">
						Cancel
					</a>
					<a href="#confirm" role="button" data-target="modal-example" onclick="toggleModal(event)">
						Confirm
					</a>
				</footer>
			</article>
		</dialog>

	</main>
</Layout>